@import url('./style.css');

body {
    height: 120vh;
}
.flex-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100vh;
}

.container__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container__subtitle {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    height: auto;
    gap: 1rem;
}

.textarea-numbers {
    border: 1px solid var(--new-black);
    border-radius: 10px;
    color: var(--new-black);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    height: 40vh;
    padding: 3rem 1rem 1rem 1rem;
    position: relative;
    text-align: justify;
}

.delete {
    margin: 1rem;
    position: absolute;
    background-color: var(--new-black);
    border: none;
    border-radius: 10px;
    color: var(--new-white);
    font-family: var(--secondary-font);
    padding: .4rem;
}

.submit {
    background-color: var(--new-black);
    border: none;
    border-radius: 10px;
    color: var(--new-white);
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-top: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
}

.results__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

table {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 10px;
    height: auto;
}

th, td {
    font-weight: 700;
    padding: .7rem;
    width: 50%;
    
}
.table-data th, td {
    width: auto;
}

th {
    background-color: var(--new-black);
    color: var(--new-white);
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

td {
    border: 1px solid;
}

.inputs-container {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem
}

.input {
    border: 2px solid var(--new-black);
    border-radius: 10px;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    width: calc(100%);
}

.add {
    background-color: var(--new-black);
    border-radius: 10px;
    color: var(--new-white);
    padding: 1rem;
}